body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #00698f;
  font-size: 36px;
  margin-bottom: 10px;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}